.skills {
  height: 100lvh;
  /* width: 100lvw; */
  width: 100%;
  position: relative;  
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  font-size: 1.5em;
  /* border: 2px solid pink; */
}

.heading {
    /* border: 2px solid pink; */
    width: 100%;
}

.main {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(auto-fit, 1fr); */
  align-items: center;
  justify-items: center;
  justify-content: center;
  /* border: 2px solid pink; */
}

.iconContainer {
  position: relative;
}
.iconName {
  /* content: ""; */
  position: absolute;
  /* left: 15%; */
  justify-content: center;
  top: -40%;
  width: 4rem;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease;
}


.skillIcon {
  height: 4rem;
  width: 4rem;
  background: hsla(0, 0%, 17%, 0.5);
  /* backdrop-filter: blur(10px) brightness(150%); */
  border-radius: 5px;
  border: outset 2px #828282;
  box-shadow: 1px 1px 10px 1px #828282;
  transition: .5s;  
}

.skillIcon:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.skillIcon:hover + .iconName {
  visibility: visible !important;
  display: flex !important;
  /* align-content: center; */
  /* text-align: center; */
  /* border: solid red 2px; */
  opacity: 1;
}

.skillIcon:not(:hover) {
  content: "";
  /* background-color: #ffba10; */
  filter: grayscale(100%);
  /* filter: brightness(.3) saturate(100%) invert(5%) sepia(6%) saturate(50%) hue-rotate(314deg) brightness(97%) contrast(92%); */
  
}

.title {
  position: absolute;
  /* top: 45.5%;
  left: 35.67%; */
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  display: flex;  
  align-items: center;
  justify-content: center;
  font-size: 3em;
  color: var(--main-color);
  text-shadow: 0 0 10px var(--sec-color);
  font-family: 'Odibee Sans', cursive; 
  /* border: 2px solid pink; */
  text-decoration: underline;

}