:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

.navlogo {
  top: 0;
  position: fixed;  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.logo {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  height: 2.5em;
  /* width: 2.5em; */
  box-shadow: 1px 1px 4px 1px #25FA02;
  /* background: url(src/assets/J.svg); */
  /* height: 50px; */
  /* width: 50px; */
  background-size:cover;
  background-repeat: no-repeat;
}

.navbar {
  padding: 0;
  margin: 0;
  width: 1280px;
  top: 0;
  position: fixed;  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}



.hyperlink {
  color: #25FA02;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}



main {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
  color: #25FA02;
  text-shadow: 0 0 10px #68f752;
  font-family: 'Odibee Sans', cursive;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 2em;
  text-shadow: 0 0 5px #ffffff;
  font-family: 'Odibee Sans', cursive; 
  text-transform: uppercase;
}

h3 {
  margin-bottom: 1em;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
